@import "office-ui-fabric-core/dist/sass/References";

.client-dashboard__title-row {
  background-color: #0078d4;
}

.client-dashboard--title {
  font-size: 20px;
  color: #edebe9;
  font-weight: 500;
}

.client-dashboard--logout {
  color: $ms-color-gray10;
  font-size: 18px;
  margin-top: 10px;
}

.client-dashboard--client-name {
  font-size: 30px;
  color: $ms-color-gray150;
  font-weight: 500;
}

.client-dashboard--balance-title {
  text-align: center;
  font-size: 20px;
  p {
    border-bottom: 2px solid $ms-color-communicationPrimary;
    margin-left: 40%;
    margin-right: 40%;
    padding-bottom: 10px;
  }
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.client-dashboard--balance-amount {
  text-align: center;
  padding-top: 0px;
  p {
    padding-top: 0px;
    margin-top: 0px;
    font-size: 30px;
    font-weight: 500;
    padding-right: 10px;
  }
}

.client-dashboard--btn {
  display: flex;
  justify-content: center;
  button {
    padding: 16px 50px;
    margin: 50px 40px;
  }
}

.client-dashboard--modal {
  &-input {
    padding: 10px 30px 40px 30px;
  }

  &-btn {
    margin: 10px 20px;
    padding: 10px 30px;
  }

  &-cancel {
    margin: 10px 20px;
    padding: 10px 30px;
  }

  &-dropdown {
    padding: 40px 30px 0px 30px;
  }
}

.client-dashboard__transact-modal {
  &--bank {
    padding: 10px 30px 0px 30px;
  }
  &--account {
    padding: 10px 30px 0px 30px;
  }
  &--transfer {
    padding: 10px 30px 0px 30px;
  }
  &--amount {
    padding: 10px 30px 0px 30px;
  }
  &--submit {
    padding: 5px 20px;
    margin: 20px 10px 10px 30px;
  }
  &--cancel {
    padding: 5px 20px;
    margin: 20px 30px 10px 30px;
  }
}
